nav{
    font-family: 'Raleway';
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px  50px;
    padding-bottom: 10px;
}

.nav-items{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.nav-items .list {
    margin: 0 20px !important;
    text-transform: uppercase !important;
    transition: all ease-in-out .1s !important;
    padding-bottom: 10px !important;
    text-decoration: none !important;
}

.nav-items .list:hover{
    color: #5ECE7B !important; 
    border-bottom: 2px solid #5ECE7B !important;
    cursor: pointer !important;
}

.cart-div{
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}

select{
    border: none;
    outline: none;
    margin-right: 20px;
}

select.decorated option:hover {
    background-color: #5ECE7B;
}

.converter{
    width: 15%;
    margin: 0 auto;
}